/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0px;
}
.z-50 {
  z-index: 50;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.-mt-12 {
  margin-top: -3rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-auto {
  margin-right: auto;
}
.mt-14 {
  margin-top: 3.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.hidden {
  display: none;
}
.h-1\/3 {
  height: 33.333333%;
}
.h-32 {
  height: 8rem;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.min-h-screen {
  min-height: 100vh;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-32 {
  width: 8rem;
}
.w-80 {
  width: 20rem;
}
.w-full {
  width: 100%;
}
.max-w-sm {
  max-width: 24rem;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-grow {
  flex-grow: 1;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.overflow-auto {
  overflow: auto;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity, 1));
}
.bg-transparent {
  background-color: transparent;
}
.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-8 {
  padding: 2rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.text-yellow-950 {
  --tw-text-opacity: 1;
  color: rgb(66 32 6 / var(--tw-text-opacity, 1));
}
.underline {
  text-decoration-line: underline;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-150 {
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
  margin: 0;
  line-height: normal;
  background-color: #f1f3f8;
  font-family: 'Inter', sans-serif;
}

.hover\:bg-slate-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:opacity-90:hover {
  opacity: 0.9;
}

@media (min-width: 768px) {

  .md\:w-2\/3 {
    width: 66.666667%;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {

  .lg\:block {
    display: block;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:p-8 {
    padding: 2rem;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/AccountMenu/index.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.AccountMenu_text__uRl5N {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 2.5rem;
    position: relative;
  }
  
  .AccountMenu_mainCategory__F6FEB {
    background-color: transparent;
    border: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
    position: relative;
    padding: 0.5em 0;
  }
  
  .AccountMenu_mainCategory__F6FEB:hover {
    background-color: #d8c8bb;
  }
  
  .AccountMenu_mainCategoryText__50cn4 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  
  .AccountMenu_mainCategoryText__50cn4:hover {
    color: #f1ecec;
  }
  
  .AccountMenu_mainCategoryText__50cn4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #f1ecec;
    transition: width 0.3s ease-in-out;
  }
  
  .AccountMenu_mainCategoryText__50cn4:hover::after {
    width: 100%;
  }

  .AccountMenu_mainCategoryButton__2Qquo {
    background-color: transparent;
    border: none;
  }
  
  .AccountMenu_subCategoryButton__pxkuL {
    background-color: transparent;
    border: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
  }
  
  .AccountMenu_subCategoryButton__pxkuL:hover {
    background-color: #d8c8bb;
  }
  
  .AccountMenu_subCategoryText__0Mitr {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .AccountMenu_subCategoryText__0Mitr::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #5a5a5a;
    transition: width 0.3s ease-in-out;
  }
  
  .AccountMenu_subCategoryText__0Mitr:hover::after {
    width: 100%;
  }
  
  .AccountMenu_logoutButton__stLpV {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0%;
    cursor: pointer;
    margin: 1em;
    transition: background-color 0.2s ease;
  }
  
  .AccountMenu_logoutText__dyTV1 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 0.6em;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin-right: 0.5em;
    transition: color 0.3s ease;
  }
  
  .AccountMenu_logoutText__dyTV1:hover {
    color: #c4ad99;
  }
  
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Drawer/index.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.Drawer_logoContainer__usPDp {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: -8.5em; 
}

.Drawer_logo__n_Mom {
  max-width: 340px;
  height: auto;
}

.Drawer_mainCategoryText__w0_b0 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-in-out;
  text-align: right; 
}

.Drawer_mainCategoryText__w0_b0:hover {
  color: #f1ecec;
}

.Drawer_mainCategoryText__w0_b0::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #f1ecec;
  transition: width 0.3s ease-in-out;
}

.Drawer_mainCategoryText__w0_b0:hover::after {
  width: 100%;
}

.Drawer_subCategoryButton__vwVRW {
  background-color: transparent;
  border: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
  width: 100%;
  padding-left: 1.5em; 
}

.Drawer_subCategoryButton__vwVRW:hover {
  background-color: #d8c8bb;
}

.Drawer_subCategoryText__urj9X {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  text-decoration: none;
  font-weight: lighter;
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: right; 
}

.Drawer_subCategoryText__urj9X::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #5a5a5a;
  transition: width 0.3s ease-in-out;
}

.Drawer_subCategoryText__urj9X:hover::after {
  width: 100%;
}

.Drawer_drawerContainer__lNujV {
  display: flex;
  margin-right: 10em;
  margin-left: -5em;
  background-color: inherit;
}

.Drawer_menuButton__ZaUnk {
  background-color: transparent;
  border: none;
  border-radius: 40px;
  color: white;
  margin-left: 1em;
  padding: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Drawer_menuButton__ZaUnk:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

.Drawer_categoryContainer__vr7WC {
  margin-bottom: 10px;
  position: relative;
}

.Drawer_listItem__3edAC {
  display: flex;
  padding: 0.2em;
  transition: background-color 0.2s ease;
}

.Drawer_listItem__3edAC:hover{
  background-color: #d8c8bb;
}

.Drawer_subCategoryContainer__88lCA {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  background-color: transparent;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Drawer_subCategoryContainerActive__7UbAY {
  max-height: 300px; 
}


@media (max-width: 768px) {
    .Drawer_logoContainer__usPDp {
        margin-top: -4em;
        margin-bottom: 0.5em;
    }

    .Drawer_logo__n_Mom {
        max-width: 250px;
    }

    .Drawer_drawerContainer__lNujV {
        margin-right: 2em;
        margin-left: 0; 
        width: 100%; 
    }

    .Drawer_mainCategoryText__w0_b0 {
        text-align: center; 
    }

    .Drawer_subCategoryButton__vwVRW {
        padding-left: 1em;
    }

    .Drawer_subCategoryText__urj9X {
        font-size: 1em; 
        text-align: center; 
    }

    .Drawer_temporaryDrawer__Vx9vJ {
        margin-left: 3rem;
    }

    .Drawer_subCategoryContainer__88lCA {
        box-shadow: none; 
    }
}

@media (max-width: 640px) {
    .Drawer_logoContainer__usPDp {
        margin-top: -2em; 
        margin-bottom: 0.3em;
    }

    .Drawer_logo__n_Mom {
        max-width: 200px;
    }

    .Drawer_drawerContainer__lNujV {
        margin-right: 1em;
    }

    .Drawer_subCategoryButton__vwVRW {
        padding-left: 1em; 
    }

    .Drawer_mainCategoryText__w0_b0 {
        font-size: 0.9em; 
    }

    .Drawer_subCategoryText__urj9X {
        font-size: 1em; 
    }

    .Drawer_menuButton__ZaUnk {
        padding: 0.4em; 
    }

    .Drawer_listItem__3edAC {
        padding: 0.1em; 
    }

    .Drawer_drawerContainer__lNujV {
        height: 100vh; 
        flex-direction: column; 
    }

    .Drawer_subCategoryContainerActive__7UbAY {
        max-height: none; 
    }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/NavBar/index.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
nav.NavBar_header____dS5 {
    width: 100%;
    height: 140px;
    position: relative;
    background-color: #f1f3f8;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding: 32px;
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.2s ease;
}

nav.NavBar_header____dS5:hover {
    background-color: #d8c8bb;
}

.NavBar_title__USjU9 {
    position: relative;
    text-decoration: none;
    color: #1e1e1e;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.2s ease;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.NavBar_title__USjU9:hover {
    color: #ffffff;
}

.NavBar_navigationPill__ODyte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    transition: all 0.2s ease;
}

.NavBar_navigationPillList__Z9o0H {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    gap: 8px;
}

.NavBar_container__EUDom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.NavBar_title__USjU9 span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
}

.NavBar_icon__e6T3Q {
    margin-right: 8px;
}

.NavBar_searchBar__NhdI3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: -4em;
}

.NavBar_temporaryDrawer__xRXsd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.NavBar_logo__ockUY {
    width: 120px;
    height: 120px;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.NavBar_logo__ockUY:hover {
    transform: scale(1.1);
}

.NavBar_logoContainer__YqtJd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 8em;
}

.NavBar_mobileNavigationPillList__5g3H_ {
    display: none;
}

/* Media Queries para Responsividad */

/* Pantallas Medianas y Pequeñas (Tablets y Móviles) */
@media (max-width: 768px) {
    nav.NavBar_header____dS5 {
        flex-direction: row;
        height: 140px;
        padding: 16px;
    }

    .NavBar_temporaryDrawer__xRXsd {
        display: flex;
        margin-left: 0;
        align-self: flex-start;
        margin-top: 2.2rem;
    }

    .NavBar_logoContainer__YqtJd {
        display: flex;
        margin-left: 1rem;
        margin-bottom: 0;
    }

    .NavBar_searchBar__NhdI3 {
        display: none;
    }

    .NavBar_navigationPillList__Z9o0H {
        display: none; /* Ocultar enlaces de navegación en móviles */
    }

    .NavBar_mobileNavigationPillList__5g3H_ {
        display: flex;
    }

    .NavBar_navigationPill__ODyte {
        padding: 4px;
    }

    .NavBar_title__USjU9 {
        font-size: 7px;
    }

    .NavBar_icon__e6T3Q {
        
        margin-right: 8px;
    }

}

/* Pantallas Pequeñas (Solo Móviles) */
@media (max-width: 640px) {

    .NavBar_logoContainer__YqtJd {
        display: flex;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .NavBar_searchBar__NhdI3 {
        width: 100%;
    }

    .NavBar_title__USjU9 {
        font-size: 12px;
    }

    .NavBar_navigationPill__ODyte {
        padding: 2px;
    }

    .NavBar_navigationPillList__Z9o0H {
        display: none; /* Asegurarse de que los enlaces están ocultos */
    }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Footer/index.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__4HfFf {
    background-color: #f1f3f8;
    color: #5f4b52;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding: 2rem;
    text-decoration: none;
}

.Footer_footer__4HfFf p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    transition: all 0.2s ease;
}

.Footer_footer__4HfFf p:hover {
    color: #1d1a1b;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: #5f4b52;
    text-decoration-style: solid;
}

.Footer_footer__4HfFf div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .Footer_footer__4HfFf {
        padding: 1.5rem;
    }

    .Footer_footer__4HfFf div {
        flex-direction: column;
        gap: 1rem;
    }

    .Footer_footer__4HfFf p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .Footer_footer__4HfFf {
        padding: 1rem;
    }

    .Footer_footer__4HfFf p {
        font-size: 0.8rem;
    }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/ShoppingBag/index.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.ShoppingBag_text__7Psb_ {
    position: relative;
    text-decoration: none;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.ShoppingBag_text__7Psb_ span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.ShoppingBag_text__7Psb_:hover {
    color: #ffffff;
}

.ShoppingBag_icon__iGYxR {
    margin-right: 8px;
} 

.ShoppingBag_container__wOeO7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 6px;
}
