nav.header {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  color: #1e1e1e;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

nav.header:hover {
  background-color: #d3dadf;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}
